.displayCounter {
    display: flex;
    border: 2px solid #5490cb;
    border-radius: 10px ;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #202c38;
    margin: 15px 0 0 25px;
}

.red {
    color: red;
    font-size: 24px;
}

.def{
    color: black;
    font-size: 24px;
}
